{% extends 'base.html' %}

{% block head%}
<h1>
    Chinese Story Generator
</h1>
{% endblock %}

{% block body %}

    <div id="sentence-container"> {{story|safe}} </div>

    <div class = "container">
        <label for = "hsk-level"> Select HSK Level:</label>
        <select id = "hsk-level">
            <option value = "1"> HSK 1</option>
            <option value = "2"> HSK 2</option>
            <option value = "3"> HSK 3</option>
            <option value = "4"> HSK 4</option>
            <option value = "5"> HSK 5</option>
            <option value = "6"> HSK 6</option>
        </select>
    </div>

    <div id = "for-button">
        <button id = "new-sentence-button"> Generate New Story </button>
        <button id = "second-part-button"> Generate Second Part </button>
    </div>

    
    

    <div id = "spinner" class = "loader" style = "display:none"></div>

    <div id ="story-container"> {{full_story_html|safe}} </div>

    <div id="translation-label"> Click to reveal english translation</div>

    <div id = "story-translated">  </div>



{% endblock %}